In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\project_assignment.csv")

In [16]:
df

    tech  expertise  recommend
0      1          0          1
1      2          1          8
2      5          2         22
3      7          1         32
4      9          1         41
..   ...        ...        ...
64     2          1         16
65     4          0         16
66     8          1         37
67     1          2          5
68     2          2          9

[69 rows x 3 columns]

In [17]:
x=df.drop(['recommend'],axis=1)
y=df['recommend']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 3)

In [19]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
model.score(x_test,y_test)

0.6111111111111112

In [21]:
from joblib import dump

In [22]:
dump(model, './../savedModels/model.joblib')

['./../savedModels/model.joblib']